#body{ 
    font-size: small;
}
#About {
    font-family: Arial;
    font-size: small;
    position: fixed;
    top: 16px;
    left: 6px;
    height: 30px;
}
#Store {
    font-family: Arial;
    font-size: small;
    position: fixed;
    top: 16px;
    left: 63px;
    height: 30px;
}

#Gmail {    
    font-family: Arial;
    font-size: small;
    position: fixed;
    top: 16px;
    right: 183px;
    height: 30px;
}
#Images {
    font-family: Arial;
    font-size: small;
    position: fixed;
    top: 16px;
    right: 117px;
    height: 30px;
}
#Apps {
    font-family: Arial;
    font-size: small;
    position: fixed;
    top: 16px;
    right: 70px;
}

#Sign-In {
    font-family: Arial;
    font-size: small;
    position: fixed;
    top: 16px;
    right: 15px;
    height: 30px;
}
#Google {
    position:fixed;
    top: 225px;
    right: 350px;
}
#search {
    position: absolute;
    top: 320px;
    left: 375px;
    height: 50px;
    width: 250px;
}
#searchBar {
    width: 375px;
    height: 30px;
    border-radius: 15px;
}
#magnifying-glass {
    position: fixed;
    top: 326px;
    right: 630px;
}
#googleSearch {
    position: fixed;
    top: 380px;
    right: 500px;
    height: 35px;
    border-radius: 5px;
    
}
#Imfeelinglucky {
    font-family: Arial;
    position: fixed;
    border-radius: 5px;
    height: 37px;
    top: 380px;
    right: 350px;
}
#footer_icons {
    height: 2%;
    width: 100%;
    background-color: #e3e1e1;
    padding:10px;
    border:1px silver;
    position: absolute;
    bottom: 0%;
}
#Advertising {
    font-family: Arial;
    font-size: small;
    position: fixed;
    bottom: 7px;
    left: 22px;
}
#Business {
    font-family: Arial;
    font-size: small;
    position: fixed;
    bottom: 7px;
    left: 123px;
}
#How_Search_Works {
    font-family: Arial;
    font-size: small;
    position: fixed;
    bottom: 7px;
    left: 203px;
}
#Privacy {
    font-family: Arial;
    font-size: small;
    position: fixed;
    bottom: 7px;
    right: 135px;
}
#Terms {
    font-family: Arial;
    font-size: small;
    position: fixed;
    bottom: 7px;
    right: 75px;
}
#Settings {
    font-family: Arial;
    font-size: small;
    position: fixed;
    bottom: 7px;
    right: 0;
}
